<!-- "購入履歴編集ページ" -->
<%= render "items/header" %>


<div class=edit_calendar>
  <h2>購入履歴の編集</h2>
  <%= form_with model: @purchase_history, url: purchase_history_path(@purchase_history), method: :patch do |f| %>

    <div class="field">
      <%= f.label :category_id, "カテゴリー" %><br>
      <%= f.collection_select :category_id, @categories, :id, :name, prompt: "選択してください" %>
    </div>

    <div class="field">
      <%= f.label :item_id, "商品" %><br>
      <% if @purchase_history.item %>
        <%# 商品がまだ存在する場合は、今まで通り選べるようにする %>
        <%= f.collection_select :item_id, @items, :id, :name %>
      <% else %>
        <%# 商品が消えている場合：カレンダーと同じメソッドで名前だけ表示する %>
        <p><strong><%= @purchase_history.item_name %></strong> (削除済みの商品)</p>
        <%# item_idは変更せず、そのまま送信するように隠しフィールドにする %>
        <%= f.hidden_field :item_id %>
      <% end %>
    </div>

    <div class="field">
      <%= f.label :bought_at, "購入日" %><br>
      <%= f.date_select :bought_at %>
    </div>

    <div class="field">
      <%= f.label :price, "価格" %><br>
      <%= f.number_field :price %>
    </div>

    <div class="field">
      <%= f.label :quantity, "個数" %><br>
      <%= f.number_field :quantity, min: 1 %>
    </div>

    <div class="actions">
      <%= f.submit "更新", model: purchase_history_path(@purchase_history) %>
    </div>
  <% end %>
</div>
<!--"フッターナビ" -->
<%= render "items/footer" %>