<!-- "購入履歴の新規登録" -->
<%= render "items/header" %>
  
<div class=edit_calendar>
  <h2>購入履歴の新規登録</h2>
  <%= form_with model: @purchase_history do |f| %>
    <div class="field">
      <%= f.label :category_id, "カテゴリー" %><br>
      <%= select_tag :category_id, options_from_collection_for_select(@categories, :id, :name), prompt: "選択してください" %>
    </div>

    <div class="field">
      <%= f.label :item_id, "商品名" %><br>
      <%= text_field_tag :item_name, @purchase_history.item&.name %>
    </div>

    <div class="field">
      <%= f.label :bought_at, "購入日" %><br>
      <%= f.date_select :bought_at %>
    </div>

    <div class="field">
      <%= f.label :price, "価格" %><br>
      <%= f.number_field :price %>
    </div>

    <div class="field">
      <%= f.label :quantity, "個数" %><br>
      <%= f.number_field :quantity, min: 1 %>
    </div>

    

    <div class="actions">
      <%= f.submit "登録する" %>
    </div>
  <% end %>
</div>
<!--"フッターナビ" -->
<%= render "items/footer" %>