<!-- "カレンダーのトップページ" -->
<%= render "items/header" %>

<div class=simple-calendar>
  <%= month_calendar(attribute: :start_time, events: @calendar_events) do |date, events| %>
    <div class="calendar-date" style="font-weight: bold; color: <%= 'blue' if date.saturday? %><%= 'red' if date.sunday? %>">
      <%= link_to calendar_path(id: date), class: "purchase_history #{'active' if events.any?}" do %>
        <%= date.strftime("%e") %>
      <% end%>
    </div>
  <% end %>
</div>
<!--"フッターナビ" -->
<%= render "items/footer" %>