<!-- "カレンダーのトップページ" -->
<%= render "items/header" %>

<div class=day_date>
  <% if @calendar_events.any? %>
    <h2><%= @calendar_events.first.bought_at.strftime("%Y年%m月%d日") %>
      購入履歴</h2>
      <% @calendar_events.each do |event| %>
        <div class="item">
          <p><%= event.item.name %></p>
        </div>
        <div class="price">
          <p><%= number_with_delimiter(event.price) %>円</p>
        </div>
        <div class="edit">
          <%= link_to "編集", edit_calendar_path(event), class: "edit" %>
        </div>
      <% end %>
    <p>合計金額: <%= number_with_delimiter(@total_price) %>円</p>
  <% else %>
    <h2>購入履歴はありません</h2>
  <% end %>
</div>


<!--"フッターナビ" -->
<%= render "items/footer" %>