<footer class="footer-nav">
  <a href="<%= items_path%>" class="nav-item <%= current_page?(items_path) ? 'nav-item-active' : '' %>">
    <div class="text-xl">🏠</div>
  </a>
  <a href="<%= calendars_path %>" class="nav-item <%= current_page?(calendars_path) ? 'nav-item-active' : '' %>">
    <div class="text-xl">📅</div>
  </a>
  <a href="<%= total_expenses_path %>" class="nav-item <%= current_page?(total_expenses_path) ? 'nav-item-active' : '' %>">
    <div class="text-xl">📊</div>
  </a>
  <a href="<%= settings_path %>" class="nav-item <%= current_page?(settings_path) ? 'nav-item-active' : '' %>">
    <div class="text-xl">⚙️</div>
  </a>
</footer>