<div id="item_form" class="list-add-section">
  <%= form_with(model: item, url: items_path) do |f| %>  
    <%= f.hidden_field :category_id, value: category&.id %>
    <%= f.text_field :name, placeholder: "商品名を入力", required: true %>
    <%= f.submit "追加", class: "submit-button" %>
  <% end %>
  <%# 一括りセットボタン %>
  <div id="reset-button-area">
    <%= button_to "☑️一括リセット", bulk_update_items_path(category_id: @current_category&.id), method: :patch, class: "reset-btn" %>
  </div>
</div>