<div id="item_form" class="list-add-section">
  <%= form_with(model: item, url: items_path) do |f| %>  
    <%= f.hidden_field :category_id, value: category&.id %>
    <%= f.text_field :name, placeholder: "商品名を入力", required: true %>
    <div class="form-check">
      <%= f.check_box :kind, { class: "form-check-input" }, "subscription", "regular" %>
      <%= f.label :kind, "このアイテムの買い時を予測する", class: "form-check-label" %>
    </div>
    <%= f.submit "追加", class: "submit-button" %>
  <% end %>
</div>