<div id="item_form" class="list-add-section">
  <%# フォーム本体 %>
  <%= form_with(model: item, url: items_path, class: "add-form-inner") do |f| %>  
    <%= f.hidden_field :category_id, value: category&.id %>
    <%= f.text_field :name, placeholder: "商品名を入力", required: true, class: "item-input" %>
    <%= f.submit "追加", class: "submit-button" %>
  <% end %>

  <%# 一括リセットボタン %>
  <%= button_to bulk_update_items_path(category_id: @current_category&.id), 
                method: :patch, 
                class: "reset-btn",
                data: { confirm: "チェックをすべて外しますか？" } do %>
    <span>☑️一括リセット</span>
  <% end %>
</div>