<!DOCTYPE html>
<html>
  <head>
    <title>Kaimonolog</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, viewport-fit=cover">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%# PWA Settings %>
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="apple-touch-icon" href="/icon.png">
    <link rel="manifest" href="/manifest.json">

    <script>
      if (navigator.serviceWorker) {
        navigator.serviceWorker.register("/service-worker.js")
          .then(function(reg) { console.log("Service worker registered.", reg); });
      }
    </script>
  </head>

  <body>
    <% flash.each do |key, value| %>
      <div class="alert alert-<%= key == 'notice' ? 'success' : 'danger' %>">
        <%= value %>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>
